.site-content {
    display: grid;
    grid-template-columns: 70% 30%;
}

.pagination {
    justify-content: center;
    margin: 4rem 0;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.pagination a {
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: .3rem;
    
}

.pages {
    background: grey;
    color: white;
}

.container{
    margin: 0 5vw;
}





