.form-element {
    padding-bottom: 10px;
}

.input-element {
    width: 90%;
    height: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
}

.form-btn {
    border-radius: 0;
    padding: .8rem 32%;
    background: grey;
    margin: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}
